= f.fields_for address_obj do |addr|
  .visible-xs.visible-sm
    %h3.general-subtitle.mt-0
      = "#{address_obj.class.to_s.split('A')[0]} Address"
  .form-group{ class: "#{address_obj.errors.messages[:first_name].empty? ? '' : 'has-error'}" }
    = addr.label :first_name, value: 'First Name', class: 'control-label input-label'
    = addr.text_field :first_name, class: 'form-control', type: "text", placeholder: "#{find_attribute_in(:first_name, address_obj)}"
    %span.help-block= error_msg(:first_name, address_obj)
  .form-group{ class: "#{address_obj.errors.messages[:last_name].empty? ? '' : 'has-error'}" }
    = addr.label :last_name, value: 'Last Name', class: 'control-label input-label'
    = addr.text_field :last_name, class: 'form-control', type: "text", placeholder: "#{find_attribute_in(:last_name, address_obj)}"
    %span.help-block= error_msg(:last_name, address_obj)
  .form-group{ class: "#{address_obj.errors.messages[:address].empty? ? '' : 'has-error'}" }
    = addr.label :address, value: 'Address', class: 'control-label input-label'
    = addr.text_field :address, class: 'form-control', type: "text", placeholder: "#{find_attribute_in(:address, address_obj)}"
    %span.help-block= error_msg(:address, address_obj)
  .form-group{ class: "#{address_obj.errors.messages[:city].empty? ? '' : 'has-error'}" }
    = addr.label :city, value: 'City', class: 'control-label input-label'
    = addr.text_field :city, class: 'form-control', type: "text", placeholder: "#{find_attribute_in(:city, address_obj)}"
    %span.help-block= error_msg(:city, address_obj)
  .form-group{ class: "#{address_obj.errors.messages[:zip].empty? ? '' : 'has-error'}" }
    = addr.label :zip, value: 'Zip', class: 'control-label input-label'
    = addr.text_field :zip, class: 'form-control', type: "text", placeholder: "#{find_attribute_in(:zip, address_obj)}"
    %span.help-block= error_msg(:zip, address_obj)
  .form-group{ class: "#{address_obj.errors.messages[:country].empty? ? '' : 'has-error'}" }
    = addr.label :country, value: 'Country', class: 'control-label input-label'
    = addr.text_field :country, class: 'form-control', type: "text", placeholder: "#{find_attribute_in(:country, address_obj)}"
    %span.help-block= error_msg(:country, address_obj)
  .form-group{ class: "#{address_obj.errors.messages[:phone].empty? ? '' : 'has-error'}" }
    = addr.label :phone, value: 'Phone', class: 'control-label input-label'
    = addr.text_field :phone, class: 'form-control', type: "text", placeholder: "#{find_attribute_in(:phone, address_obj)}"
    %span.help-block= error_msg(:phone, address_obj)
