.thumbnail.general-thumbnail
  = image_tag book.photo, class: 'img-shadow, general-thumbnail-img', alt: "design-book"
  .thumb-hover
    .general-thumb-link-wrap
      = link_to book_path(book), class: 'thumb-hover-link' do
        %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
      = form_for @order_item  do |f|
        = f.text_field :book_id, hidden: true, name: "order_item[book_id]", value: "#{book.id}"
        = f.text_field :quantity, hidden: true, name: "order_item[quantity]", value: 1
        = f.button type: 'submit', class: 'thumb-hover-link' do
          %i.fa.fa-shopping-cart.thumb-icon