%main.container.general-main-wrap
  = link_to orders_path, class: 'general-back-link' do
    %i.fa.fa-long-arrow-left.mr-15= t('.link.back')
  .row.mb-20
    .col-sm-3
      %h3.general-subtitle= t('.shipping')
      = address_short(current_user.shipping_address)
    .col-sm-3
      %h3.general-subtitle= t('.billing')
      = address_short(current_user.billing_address)
    .col-sm-3
      %h3.general-subtitle= t('.shipments')
      = shipment_short(@order.delivery)
    .col-sm-3
      %h3.general-subtitle= t('.payment')
      = credit_short(@order.credit_card)
  .hidden-xs.divider-lg.pt-20
    %table.table.table-hover
      %thead
        %tr
          %th
            %span.in-grey-600= t('.book')
          %th.col-method
          %th
            %span.in-grey-600= t('.price')
          %th
            %span.in-grey-600= t('.quantity')
          %th
            %span.in-grey-600= t('.total')
      %tbody
      - @order.order_items.each do |order_item|
        %tr
          %td
            .general-img-wrap-table
              %img.cart-img-shadow.pull-left{src: "#{order_item.book.photo}"}
          %td
            %p.title= order_item.book.name
            %p.in-grey-600.fw-300= order_item.book.description
          %td
            %span.font-16.in-gold-500 &euro;#{order_item.unit_price}
          %td
            %span.ml-30= order_item.quantity
          %td
            %span.font-16.in-gold-500= add_currency_to(order_item.total_price)
    = render './check_out_pages/order_summary', order: @order