%main.container
  %h1.general-title-margin Сatalog
  .hidden-xs.clearfix
    .dropdowns.pull-right
      .dropdown.width-240
        %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
          Newest first
          %i.fa.fa-angle-down.dropdown-icon.pull-right
        %ul.dropdown-menu
          %li
            %a{href: "#"} Newest first
          %li
            %a{href: "#"} Popular first
          %li
            %a{href: "#"} Price: Low to hight
          %li
            %a{href: "#"} Price: Low to hight
    %ul.list-inline.pt-10.mb-25.mr-240
      - Book::FILTERS_LIST.each do |section|
        = render partial: 'filter', locals: { section: section}
  .dropdowns.mb-25.visible-xs
    %p.lead.small.mb-10 Filter by category
    .dropdown
      %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
        All
        %i.fa.fa-angle-down.dropdown-icon.pull-right
      %ul.dropdown-menu
        - Book::FILTERS_LIST.each do |section|
          %li
            = link_to "#{section}", books_path(section: section)
    %p.lead.small.mb-10 Sort by
    .dropdown
      %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
        Newest first
        %i.fa.fa-angle-down.dropdown-icon.pull-right
      %ul.dropdown-menu
        %li
          %a{href: "#"} Newest first
        %li
          %a{href: "#"} Popular first
        %li
          %a{href: "#"} Price: Low to hight
        %li
          %a{href: "#"} Price: Low to hight
  .mb-120
    .row
      - @batch_of_books.each do |book|
        .col-xs-6.col-sm-3
          .general-thumb-wrap
            = render partial: '/shared/thumbnail_with_links', locals: {book: book}
          .general-thumb-info
            %p.title
              = book.name
            %p.font-16.in-gold-500
              = book.price
            %span.divider-sm
            %p.lead.small
              = prepare_for_view(book.authors)
              = book.section
    .text-center
      %button.btn.btn-primary View More
