%main.container.general-main-wrap
  %h1.general-title-margin= t('.cart')
  - if @order_items.size == 0
    %h2.text-center= t('.when_cart_is_empty')
  - else
    .hidden-xs
      %table.table.table-hover
        %tr.no-hover
          %th.col-pic.pl-0
            %span.in-grey-600= t('.product')
          %th.col-title
          %th.col-price
            %span.in-grey-600= t('.price')
          %th.col-quantity
            %span.in-grey-600= t('.quantity')
          %th.col-total
            %span.in-grey-600= t('.subtotal')
          %th.col-close
        - @order_items.each do |order_item|
          = render 'carts/cart_row', order_item: order_item
    .general-order-wrap
      = form_tag (cart_path), method: :patch do
        .row
          .col-sm-4
            .input-group.general-input-group
              %label.input-label= t('.form.coupon')
              = text_field_tag 'cart[coupon]', nil,class: 'form-control mb-30', type: 'text', placeholder: t('.form.coupon')
              - if @order.discount_applied
                %p.in-gold-500.font-18 Your coupon successful applied
              %div
                %button.btn.btn-primary.mr-5.mb-15.visible-xs-inline-block= t('.form.apply_coupon')
                = button_tag t('.form.update'), {type: 'submit', class: 'btn btn-primary mb-15 res-block'}
          .col-sm-8
            .res-mr-200.text-center.general-text-right
              %p.in-gold-500.font-18= t('order_summary.summary')
              %table.general-summary-table.general-summary-table-right.general-text-right
                %tr
                  %td
                    %p.font-16= t('order_summary.sub_total')
                  %td
                    %p.font-16=add_currency_to(@order.subtotal)
                %tr
                  %td
                    %p.font-16= t('order_summary.coupon')
                  %td
                    %p.font-16=add_currency_to(@order.recalculate_discount)
                %tr
                  %td
                    %strong.font-18= t('order_summary.total')
                  %td
                    %strong.font-18=add_currency_to(@order.total)
              = link_to t('.button.checkout'), check_out_pages_path, class: 'btn btn-default mb-20 visible-xs-inline-block'
      = link_to t('.button.checkout'), check_out_pages_path, class: 'btn btn-default mb-20 hidden-xs-inline-block'
