%main.container.general-main-wrap
  %h1.general-title-margin Checkout
  = progress_bar
  .text-center.mb-40
    %h3.general-subtitle Thank You for your Order!
    %p.fw-300 An order confirmation has been has been sent to #{current_user.email}
  .row.mb-20
    .col-sm-6
      = address_short(current_user.shipping_address)
    .col-sm-6.hidden-xs.text-right
      %p.general-order-number.mb-0 Order #{@form_object.completed_order.number}
      %p.general-address.mb-30= @form_object.completed_order.updated_at
  .hidden-xs.divider-lg.pt-20
    %table.table.table-hover
      %thead
        %tr
          %th
            %span.in-grey-600 Book
          %th.col-method
          %th
            %span.in-grey-600 Price
          %th
            %span.in-grey-600 Quantity
          %th
            %span.in-grey-600 Total
      %tbody
      - @order.order_items.each do |order_item|
        %tr
          %td
            .general-img-wrap-table
              %img.cart-img-shadow.pull-left{src: "#{order_item.book.photo}"}
          %td
            %p.title= order_item.book.name
            %p.in-grey-600.fw-300= order_item.book.description
          %td
            %span.font-16.in-gold-500 &euro;#{order_item.unit_price}
          %td
            %span.ml-30= order_item.quantity
          %td
            %span.font-16.in-gold-500 &euro;#{order_item.total_price}
  = render 'order_summary', order: @order
  .text-center
    = link_to 'Back to Store', wizard_path, method: 'patch', class: 'btn btn-default mb-20'
