%main.container
  %h1.general-title-margin Checkout
  = progress_bar
  = form_for @form, url: wizard_path, method: "patch", class: 'res-mb-100' do |f|
    .hidden-xs.hidden-sm
      .row
        .col-md-5
          %h3.general-subtitle Billing Address
          %p.general-info-text all fields are required
        .col-md-5.col-md-offset-1
          %h3.general-subtitle Shipping Address
    .row
      .col-md-5.mb-40
        .visible-xs.visible-sm
          %h3.general-subtitle Billing Address
          %p.general-info-text all fields are required
        .form-group
          = f.label :billing_first_name, value: 'First Name', class: 'control-label input-label'
          = f.text_field :billing_first_name, id: 'billing_first_name', class: 'form-control', name:"billing_first_name", type: "text", placeholder: 'First Name'
        .form-group
          = f.label :billing_last_name, value: 'Last Name', class: 'control-label input-label'
          = f.text_field :billing_last_name, id: 'billing_last_name', class: 'form-control', name:"billing_last_name", type: "text", placeholder: 'Last Name'
        .form-group
          = f.label :billing_address, value: 'Address', class: 'control-label input-label'
          = f.text_field :billing_address, id: 'billing_address', class: 'form-control', name:"billing_address", type: "text", placeholder: "Address"
        .form-group
          = f.label :billing_city, value: 'City', class: 'control-label input-label'
          = f.text_field :billing_city, id: 'billing_city', class: 'form-control', name:"billing_city", type: "text", placeholder: "City"
        .form-group
          = f.label :billing_zip, value: 'Zip', class: 'control-label input-label'
          = f.text_field :billing_zip, id: 'billing_zip', class: 'form-control', name:"billing_zip", type: "text", placeholder: "Zip"
        .form-group
          = f.label :billing_сountry, value: 'Country', class: 'control-label input-label'
          = f.text_field :billing_сountry, id: 'billing_сountry', class: 'form-control', name:"billing_сountry", type: "text", placeholder: "Country"
        .form-group
          = f.label :billing_phone, value: 'Phone', class: 'control-label input-label'
          = f.text_field :billing_phone, id: 'billing_phone', class: 'form-control', name:"billing_phone", type: "text", placeholder: "Phone", placeholder: "Example +355 66 123 4567"
      .col-md-5.col-md-offset-1.mb-60
        .visible-xs.visible-sm
          %h3.general-subtitle Shipping Address
        .form-group
          = f.label :shipping_first_name, value: 'First Name', class: 'control-label input-label'
          = f.text_field :shipping_first_name, id: 'shipping_first_name', class: 'form-control', name:"shipping_first_name", type: "text", placeholder: 'First Name'
        .form-group
          = f.label :shipping_last_name, value: 'Last Name', class: 'control-label input-label'
          = f.text_field :shipping_last_name, id: 'shipping_last_name', class: 'form-control', name:"shipping_last_name", type: "text", placeholder: 'Last Name'
        .form-group
          = f.label :shipping_address, value: 'Address', class: 'control-label input-label'
          = f.text_field :shipping_address, id: 'shipping_address', class: 'form-control', name:"shipping_address", type: "text", placeholder: "Address"
        .form-group
          = f.label :shipping_city, value: 'City', class: 'control-label input-label'
          = f.text_field :shipping_city, id: 'shipping_city', class: 'form-control', name:"shipping_city", type: "text", placeholder: "City"
        .form-group
          = f.label :shipping_zip, value: 'Zip', class: 'control-label input-label'
          = f.text_field :shipping_zip, id: 'shipping_zip', class: 'form-control', name:"shipping_zip", type: "text", placeholder: "Zip"
        .form-group
          = f.label :shipping_сountry, value: 'Country', class: 'control-label input-label'
          = f.text_field :shipping_сountry, id: 'shipping_сountry', class: 'form-control', name:"shipping_сountry", type: "text", placeholder: "Country"
        .form-group
          = f.label :shipping_phone, value: 'Phone', class: 'control-label input-label'
          = f.text_field :shipping_phone, id: 'shipping_phone', class: 'form-control', name:"shipping_phone", type: "text", placeholder: "Phone", placeholder: "Example +355 66 123 4567"
        .form-group.checkbox
          %label.checkbox-label
            %input.checkbox-input{type: "checkbox", hidden: "true"}
            %span.checkbox-icon
              %i.fa.fa-check
            %span.checkbox-text Use Billing Adress
    = render 'order_summary'
    .text-center
      = f.submit :save, class: 'btn btn-default mb-20', value: 'Save and Continue'



    / %select#country.form-control{name: "country", placeholder: "Select a country"}
    /         %option London
    /         %option London
    /         %option London